<div class="container">
    <h2>Avatar</h2>

    <div class="canvas-avatar">
        <div class="cuerpo"
            [style.background-color]="colorfondo()"
            [style.width.px]="tamano()"
            [style.height.px]="tamano()"
            [style.transform]="'rotate('+ rotacion() + 'deg)'"
            >
            
            <div class="ojos">
                <div class="ojo"></div>
                <div class="ojo"></div>
                @if (tieneLentes()){
                    <div class="lentes"></div>
                }
            </div>
            <div class="boca">
                @switch(tipoExpresion()){
                    @case(1){<div class="feliz"></div>} 
                    @case(2){<div class="sorprendido"></div>}
                    @case(3){<div class="serio"></div>}
                }
            </div>
        </div>
    </div>

    <h1 
    [style.color]="colorfondo()"
    class="nombre-avatar">
    {{ nombreAvatar() }}
    </h1>

    <div class="controles">
        <label color>
            <input type="color" [value]="colorfondo()" (input)="cambiarColor($event)">
        </label>

        <label tamaño>
            <input type="range" min="100" max="300" [value]="tamano()" (input)="cambiarTamano($event)">
        </label>

        <button (click)="toggleLentes()">
            {{ tieneLentes() ? 'Quitar Lentes' : 'Poner Lentes' }}
        </button>
    </div>

    <div class="expresiones">
        <p>Expresión</p>
        <button (click)="setExpresion(1)">Feliz</button>
        <button (click)="setExpresion(2)">Sorprendido</button>
        <button (click)="setExpresion(3)">Serio</button>
    </div>
    
    <label>
        Nombre del Avatar:
        <input 
            type="text"
            [value]="nombreAvatar()"
            (input)="cambiarNombre($event)">
    </label>
    <label>
        <input type="range" min="0" max="360" [value]="rotacion()" (input)="cambiarRotacion($event)">
    </label>
</div>